h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

label {
  display: block;
  margin-bottom: 10px;
}

@-webkit-keyframes lineActive {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes lineActive {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
body {
  font-family: "Roboto";
  font-size: 14px;
  color: rgb(33, 33, 33);
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 528px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 40px;
  background-color: white;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
  resize: none;
  margin-top: 4px;
  padding: 12px 16px 12px 16px;
  width: 100%;
  height: 120px;
  color: black;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal-textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal-textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal-textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal-textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal-textarea:focus-within {
  outline: 1px solid #2196F3;
}
.modal-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal-span {
  position: relative;
  color: black;
}
.modal-span:focus-within {
  color: #2196F3;
}
.modal-span-svg {
  position: absolute;
  top: 1.5px;
  left: 10px;
}
.modal-span-icon {
  fill: currentColor;
}
.modal-form {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal-submit {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: rgb(33, 33, 33);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.modal-close:hover {
  color: rgb(33, 150, 243);
}
.modal-close-icon {
  fill: currentColor;
}

.on-animate {
  -webkit-transform: translate(-50%, -200%);
          transform: translate(-50%, -200%);
}

.input-name, .input-tel, .input-email {
  background-color: transparent;
  color: black;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 40px;
  padding-left: 35px;
  margin-top: 4px;
}
.input-name:focus-within, .input-tel:focus-within, .input-email:focus-within {
  outline: 1px solid #2196F3;
}

.privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.privacy-span {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.privacy-link {
  color: #2196F3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
.privacy-input {
  width: 16px;
  height: 15px;
}

.web {
  color: rgb(33, 150, 243);
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
}
.header__logo {
  color: inherit;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    gap: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__wrapper {
    gap: 93px;
  }
}
.header__btn {
  display: block;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.nav__link {
  position: relative;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgb(33, 33, 33);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.nav__link:hover {
  color: rgb(33, 150, 243);
}

.active {
  color: rgb(33, 150, 243);
}
.active::after {
  position: absolute;
  top: 46px;
  display: block;
  content: "";
  -webkit-animation: lineActive 0.5s ease;
          animation: lineActive 0.5s ease;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgb(117, 117, 117);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
  }
}
.contacts__link:hover {
  color: rgb(33, 150, 243);
}
.contacts__icon {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: rgb(47, 48, 58);
}
.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}
.footer-logo {
  display: block;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 20px;
  width: 145px;
  color: rgb(255, 255, 255);
}
.footer-logo-web {
  color: rgb(33, 150, 243);
}
.footer-mailing-text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 12px;
  margin-bottom: 20px;
}
.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.footer-form-input {
  width: 358px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}
.footer-form-input:focus-within {
  outline: 1px solid rgb(33, 150, 243);
}
.footer-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

.adress-list-item {
  margin-top: 9px;
}
.adress-list-desc {
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
}
.adress-list-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.media-text {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 12px;
  margin-bottom: 20px;
}

.media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.media-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.media-list-link:hover {
  background-color: rgb(33, 150, 243);
}
.media-list-icon {
  fill: rgb(255, 255, 255);
}

.hero {
  padding: 118px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background-hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-hero.jpg");
  background-color: rgb(47, 48, 58);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}
.hero__title {
  color: rgb(255, 255, 255);
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  font-size: 26px;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 696px;
  }
}
.hero__btn {
  display: block;
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.features {
  padding: 94px 0;
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.features__title {
  padding-top: 30px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}
.features__desc {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .features__desc {
    max-width: 354px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features__desc {
    max-width: 270px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.features__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: rgb(245, 244, 250);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-work {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .our-work {
    display: block;
  }
}
.our-work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.our-work-list-item {
  position: relative;
}
.our-work-list-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFF;
  background: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 370px;
  position: absolute;
  bottom: 0;
}
.our-work-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team {
  padding: 94px 0;
  background-color: rgb(245, 244, 250);
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.team-list-item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-list-text {
  padding: 30px 0;
}
.team-list-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.team-list-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: rgb(175, 177, 184);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.social-list-link:hover {
  background-color: rgb(33, 150, 243);
  color: white;
}
.social-list-icon {
  fill: currentColor;
}

.clients {
  padding: 94px 0;
}
.clients-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.clients-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(175, 177, 184);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.clients-list-link:hover {
  color: rgb(33, 150, 243);
  border: 1px solid rgb(33, 150, 243);
}
.clients-list-item {
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
}
.clients-list-icon {
  fill: currentColor;
}

.portfolio {
  padding-top: 86px;
  padding-bottom: 102px;
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filters-list-btn {
  color: rgb(33, 33, 33);
  background-color: rgb(245, 244, 250);
  padding: 6px 25px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.filters-list-btn:hover {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.projects-list-item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  outline: 1px solid #EEE;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}
.projects-list-item:hover {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.projects-list-item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.projects-list-link {
  color: inherit;
}
.projects-list-text {
  padding: 30px 24px;
}
.projects-list-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.projects-list-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: left;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-101%);
          transform: translateY(-101%);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}/*# sourceMappingURL=main.css.map */