:root {
    --white-color: rgba(255, 255, 255, 1); 
    --blue-color: rgba(33, 150, 243, 1);
    --black-color: rgba(33, 33, 33, 1);
    --gray-color: rgba(117, 117, 117, 1);
    --dark-blue-color: rgba(47, 48, 58, 1);
    --darker-white-color: rgba(245, 244, 250, 1);
    --alpha-gray-color: rgba(255, 255, 255, 0.60);
}

body {
    font-family: "Roboto";
    font-size: 14px;
    color: var(--black-color);
}

.header-logo {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
}

.header-content-wrap {
    display: flex;
    align-items: center;
    height: 80px;
    gap: 93px;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.contacts-list {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.nav-list-link {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
}

.contacts-list-link {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
}

.filters-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filters-list-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects-list-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}

.projects-list-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: left;
}

.footer-logo {
    display: block;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 20px;
    width: 145px;
}

.adress-list-desc {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

.adress-list-item {
    margin-top: 9px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.portfolio {
    padding-top: 86px;
    padding-bottom: 102px;
}

.footer {
    padding: 60px 0;
}

.team-list-text {
    padding: 30px 24px;
}

.projects-list-item {
    margin-bottom: 4px;
}