:root {
    --white-color: rgba(255, 255, 255, 1); 
    --line-white-color: rgba(236, 236, 236, 1);
    --team-white-color: rgba(245, 244, 250, 1);
    --blue-color: rgba(33, 150, 243, 1);
    --black-color: rgba(33, 33, 33, 1);
    --gray-color: rgba(117, 117, 117, 1);
    --dark-blue-color: rgba(47, 48, 58, 1);
    --darker-white-color: rgba(245, 244, 250, 1);
    --alpha-gray-color: rgba(255, 255, 255, 0.60);
    --alpha-dark-color: rgba(0, 0, 0, 0.15);
    --overlay: rgba(47, 48, 58, 0.40);
}

body {
    font-family: "Roboto";
    font-size: 14px;
    color: var(--black-color);
}

.header-logo {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
}

.nav-list-link {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--black-color)
}

.nav-list-link:hover {
    color: var(--blue-color);
}

.contacts-list-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--gray-color);
    transition: 0.2s;
}

.contacts-list-icon {
    fill: currentColor;
}

.contacts-list-link:hover {
    color: var(--blue-color);
}

.hero-title {
    color: var(--white-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-btn {
    display: block;
    width: 216px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 4px 4px 0px var(--alpha-dark-color);
}

.features-list-title {
    padding-top: 30px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 10px;
}

.features-list-desc {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

.features-list-item:first-child::before {
    background-image: url("../images/radar.jpg");
    display: block;
    content: "";
    width: 270px;
    height: 120px;
}

.features-list-item:nth-child(2)::before {
    background-image: url("../images/clock.jpg");
    display: block;
    content: "";
    width: 270px;
    height: 120px;
}

.features-list-item:nth-child(3)::before {
    background-image: url("../images/graph.jpg");
    display: block;
    content: "";
    width: 270px;
    height: 120px;
}

.features-list-item:last-child::before {
    background-image: url("../images/astronaut.jpg");
    display: block;
    content: "";
    width: 270px;
    height: 120px;
}

.our-work-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.team-list-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.team-list-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: rgba(175, 177, 184, 1);
    transition: 0.2s;
}

.social-list-link:hover {
    background-color: rgba(33, 150, 243, 1);
    color: white;
}

.social-list-icon {
    fill: currentColor;
}

.clients {
    padding: 94px 0;
}

.clients-title {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    gap: 30px;
}

.clients-list-link {
    display: flex;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    justify-content: center;
    align-items: center;
    color: rgba(175, 177, 184, 1);
    transition: 0.2s;
}

.clients-list-link:hover {
    color: rgba(33, 150, 243, 1);
    border: 1px solid rgba(33, 150, 243, 1);
}

.clients-list-icon {
    fill: currentColor;
}

.clients-list-item {
    flex-basis: calc((100% - 150px) / 6);
}

.footer-logo {
    display: block;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 20px;
    width: 145px;
}

.adress-list-item {
    margin-top: 9px;
}

.adress-list-desc {
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

.adress-list-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}

.footer-wrap {
    display: flex;
    gap: 70px;
}

.media-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-top: 12px;
    margin-bottom: 20px;
}

.media-list {
    display: flex;
    gap: 10px;
}

.media-list-link {
    display: flex;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.media-list-link:hover {
    background-color: rgba(33, 150, 243, 1);
}

.media-list-icon {
    fill: #FFF;
}

.footer-mailing-text {
    color: var(--white-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-top: 12px;
    margin-bottom: 20px;
}

.footer-form {
    display: flex;
    gap: 12px;
}

.footer-form-input {
    width: 358px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 16px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
}

.footer-form-input:focus-within {
    outline: 1px solid rgba(33, 150, 243, 1);
}

.footer-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid var(--line-white-color);
}

.hero {
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
                    url(../images/background-hero.jpg);
    background-color: var(--dark-blue-color);
    background-repeat: no-repeat;
    background-position: center;
}

.features {
    padding: 94px 0;
}

.our-work {
    padding-bottom: 94px;
}

.team {
    padding: 94px 0;
    background-color: var(--team-white-color);
}

.footer {
    padding: 60px 0;
    background-color: var(--dark-blue-color);
}

.header-content-wrap {
    display: flex;
    align-items: center;
    height: 80px;
    gap: 93px;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.contacts-list {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.features-list {
    display: flex;
    gap: 30px;
}

.our-work-list {
    display: flex;
    gap: 30px;
}

.our-work-list-item {
    position: relative;
}

.our-work-list-text {
    display: flex;
    color: #FFF;
    background: rgba(47, 48, 58, 0.80);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 370px;
    position: absolute;
    bottom: 0;
}

.backdrop{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 528px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 40px;
  background-color: white;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.input-name,.input-tel,.input-email{
  background-color: transparent;
  color: black;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  width: 100%;
  height: 40px;
  padding-left: 35px;
  margin-top: 4px;
}

.input-name:focus-within,.input-tel:focus-within,.input-email:focus-within, .modal-textarea:focus-within {
  outline: 1px solid #2196F3;
}

label{
  display: block;
  margin-bottom: 10px;
}

.modal-textarea {
  resize: none;
  margin-top: 4px;
  padding: 12px 16px 12px 16px;
  width: 100%;
  height: 120px;
  color: black;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.20);
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.50);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-title {
    color: #212121;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}

.modal-span {
    position: relative;
    color: black;
}

.modal-span:focus-within {
    color: #2196F3;
}

.modal-span-svg {
    position: absolute;
    top: 1.5px;
    left: 10px;
}

.modal-form {
    color: #757575;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.modal-span-icon {
    fill: currentColor;
}

.modal-privacy {
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

.privacy-span {
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

.privacy-link {
    color: #2196F3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.privacy-input {
    width: 16px;
    height: 15px;
}

.modal-submit {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    color: var(--black-color);
}

.modal-close:hover {
    color: rgba(33, 150, 243, 1);
}

.modal-close-icon {
    fill: currentColor;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-list-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-list-text {
    padding: 30px 0;
}

.header-logo-web {
    color: var(--blue-color);
}

.header-logo-studio {
    color: var(--black-color);
}

.footer-logo-web {
    color: var(--blue-color);
}

.footer-logo-studio {
    color: var(--white-color);
}