:root {
    --white-color: rgba(255, 255, 255, 1); 
    --blue-color: rgba(33, 150, 243, 1);
    --black-color: rgba(33, 33, 33, 1);
    --gray-color: rgba(117, 117, 117, 1);
    --dark-blue-color: rgba(47, 48, 58, 1);
    --darker-white-color: rgba(245, 244, 250, 1);
    --alpha-gray-color: rgba(255, 255, 255, 0.60);
}

body {
    font-family: "Roboto";
    font-size: 14px;
    color: var(--black-color);
}

.header-logo {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
}

.nav-list-link {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
}

.contacts-list-link {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
}

.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-btn {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    margin: 0 auto;
}

.features-list-title {
    padding-top: 30px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 10px;
}

.features-list-desc {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

.features-list-item:first-child::before {
    background-image: url("../images/radar.jpg");
    display: block;
    content: "";
    width: 270px;
    height: 120px;
}

.features-list-item:nth-child(2)::before {
    background-image: url("../images/clock.jpg");
    display: block;
    content: "";
    width: 270px;
    height: 120px;
}

.features-list-item:nth-child(3)::before {
    background-image: url("../images/graph.jpg");
    display: block;
    content: "";
    width: 270px;
    height: 120px;
}

.features-list-item:last-child::before {
    background-image: url("../images/astronaut.jpg");
    display: block;
    content: "";
    width: 270px;
    height: 120px;
}

.our-work-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.team-list-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.team-list-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.footer-logo {
    display: block;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 20px;
    width: 145px;
}

.adress-list-item {
    margin-top: 9px;
}

.adress-list-desc {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

.adress-list-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.hero {
    padding: 200px 0;
}

.features {
    padding: 94px 0;
}

.our-work {
    padding-bottom: 94px;
}

.team {
    padding: 94px 0;
}

.footer {
    padding: 60px 0;
}

.header-content-wrap {
    display: flex;
    align-items: center;
    height: 80px;
    gap: 93px;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.contacts-list {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.feauters-list {
    display: flex;
    gap: 30px;
}

.our-work-list {
    display: flex;
    gap: 30px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-list-text {
    padding: 30px 0;
}
