.clients {
    padding: 94px 0;

    &-title {
        color: #212121;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
    }

    &-list {
        display: flex;
        gap: 30px;

        &-link {
            display: flex;
            height: 92px;
            border-radius: 4px;
            border: 1px solid #AFB1B8;
            justify-content: center;
            align-items: center;
            color: rgba(175, 177, 184, 1);
            transition: 0.2s;

            &:hover {
                color: rgba(33, 150, 243, 1);
                border: 1px solid rgba(33, 150, 243, 1);
            }
        }

        &-item {
            flex-basis: calc((100% - 150px) / 6);
        }

        &-icon {
            fill: currentColor;
        }
    }
}