.features {
    padding: 94px 0;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @include tab(768px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__title {
        padding-top: 30px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-align: left;
        margin-bottom: 10px;
        text-align: center;
        @include tab(768px) {
            text-align: start;
        }
    }
    
    &__desc {
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: 0.03em;
        text-align: center;
        max-width: 450px;
        @include tab(768px) {
            max-width: 354px;
            text-align: left;
        }

        @include desc(1200px) {
            max-width: 270px;
        }
    }

    &__item {
        @include tab(768px) {
            @include gridSystem(30px, 2);
        }

        @include desc(1200px) {
            @include gridSystem(90px, 4);
        }
    }

    &__top {
        display: flex;
        height: 120px;
        background-color: rgba(245, 244, 250, 1);
        justify-content: center;
        align-items: center;
    }
}