.hero {
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
                    url("../images/background-hero.jpg");
    background-color: $dark-blue-color;
    background-repeat: no-repeat;
    background-position: center;

    &-title {
        color: $white-color;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.4;
        letter-spacing: 0.06em;
        text-align: center;
        width: 696px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    &-btn {
        display: block;
        width: 216px;
        height: 50px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.9;
        letter-spacing: 0.06em;
        text-align: center;
        margin: 0 auto;
        border-radius: 4px;
        color: $white-color;
        background-color: $blue-color;
        box-shadow: 0px 4px 4px 0px $alpha-dark-color;
    }
}