.hero {
    padding: 118px 0;
    @include bg-image("../images/hero-mob@1x.webp", "../images/hero-mob@1x.jpg", $gradient);
    @include retina(2, 192dpi, 2dppx) {
        @include bg-image("../images/hero-mob@2x.webp", "../images/hero-mob@2x.jpg", $gradient);
    }

    @include retina(3, 288dpi, 3dppx) {
        @include bg-image("../images/hero-mob@3x.webp", "../images/hero-mob@3x.jpg", $gradient);
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    @include tab(768px) {
        @include bg-image("../images/hero-tab@1x.webp", "../images/hero-tab@1x.jpg", $gradient);
        
        @include retina(2, 192dpi, 2dppx) {
            @include bg-image("../images/hero-tab@2x.webp", "../images/hero-tab@2x.jpg", $gradient);
        }

        @include retina(3, 288dpi, 3dppx) {
            @include bg-image("../images/hero-tab@3x.webp", "../images/hero-tab@3x.jpg", $gradient);
        }
    }

    @include desc(1200px) {
        padding: 200px 0;
        @include bg-image("../images/hero-desc@1x.webp", "../images/hero-desc@1x.jpg", $gradient);
        
        @include retina(2, 192dpi, 2dppx) {
            @include bg-image("../images/hero-desc@2x.webp", "../images/hero-desc@2x.jpg", $gradient);
        }

        @include retina(3, 288dpi, 3dppx) {
            @include bg-image("../images/hero-desc@3x.webp", "../images/hero-desc@3x.jpg", $gradient);
        }
    }

    &__title {
        color: $white-color;
        font-weight: 900;
        line-height: 1.4;
        letter-spacing: 0.06em;
        text-align: center;
        font-size: 26px;
        max-width: 360px;
        margin: 0 auto;
        margin-bottom: 30px;
        @include desc(1200px) {
            font-size: 44px;
            max-width: 696px;
        }
    }

    &__btn {
        display: block;
        width: 216px;
        height: 50px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.9;
        letter-spacing: 0.06em;
        text-align: center;
        margin: 0 auto;
        border-radius: 4px;
        color: $white-color;
        background-color: $blue-color;
        box-shadow: 0px 4px 4px 0px $alpha-dark-color;
    }
}
