@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @include mob(480px) {
        width: 480px;
    }

    @include tab(768px) {
        width: 768px;
    }

    @include desc(1200px) {
        width: 1200px;
    }
}