$white-color: rgba(255, 255, 255, 1); 
$line-white-color: rgba(236, 236, 236, 1);
$team-white-color: rgba(245, 244, 250, 1);
$blue-color: rgba(33, 150, 243, 1);
$black-color: rgba(33, 33, 33, 1);
$gray-color: rgba(117, 117, 117, 1);
$dark-blue-color: rgba(47, 48, 58, 1);
$darker-white-color: rgba(245, 244, 250, 1);
$alpha-gray-color: rgba(255, 255, 255, 0.60);
$alpha-dark-color: rgba(0, 0, 0, 0.15);
$overlay: rgba(47, 48, 58, 0.40);
$gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));