.portfolio {
    padding-top: 86px;
    padding-bottom: 102px;
}

.filters-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;

    &-btn {
        color: $black-color;
        background-color: $darker-white-color;
        padding: 6px 25px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0.03em;
        text-align: center;
        transition: 0.2s;

        &:hover {
            background-color: $blue-color;
            color: $white-color;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        }
    }
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &-item {
        position: relative;
        @include gridSystem(60px, 3);
        outline: 1px solid #EEE;
        transition: 0.5s;
        overflow: hidden;

        &:hover {
            box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
            
            & .overlay {
                transform: translateY(0);
            }
        }
    }

    &-link {
        color: inherit;
    }

    &-text {
        padding: 30px 24px;
    }

    &-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: left;
    }
    
    &-desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.9;
        letter-spacing: 0.03em;
        text-align: left;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-101%);
    color: $white-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    background-color: rgba(33, 150, 243, 0.90);
    width: 370px;
    height: 294px;
    padding: 63px 24px;
    transition: transform 0.5s ease
}